input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.2rem;
  border-radius: 5px;
  background: #a4a4a4;
}

.form > * {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.errorLabel {
  color: red;
  font-size: small;
}

.amount,
.selectCurr {
  outline: none;
  appearance: textfield;
  -moz-appearance: textfield;
  border: none;
  background: #f7f7f7;
}

.amount:focus,
.selectCurr:focus {
  background: #c8c8c8;
}

.result {
  display: block;
  position: relative;
  text-align: center;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
}

.button {
  background: none;
  cursor: pointer;
  border: 1px solid black;
  background: #666666;
  color: #f7f7f7;
  transition: background 0.3s, box-shadow 0.3s;
}

@media (hover: hover) and (min-width: 600px) {
  .form {
    display: block;
  }

  .form > * {
    display: inline;
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .amountLabel {
    display: none;
    color: red;
    font-size: small;
  }

  .result {
    display: block;
    position: relative;
    text-align: center;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    background: #f7f7f7;
  }

  .amount:hover,
  .selectCurr:hover {
    background: #e3e3e3;
  }

  .amount:focus,
  .selectCurr:focus {
    background: #c8c8c8;
  }

  .button:hover {
    background: #313131;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}
